{% extends 'programming/include/col1.html' %}

{% block selected %}
    <!-- Select topic content -->
<div id="Col1Col3" class="container-fluid sticky-top pt-3">
    <!-- Collapse Topic -->
    <div class="container-fluid text-bg-warning rounded-3 py-3 my-3">

        <!-- content goes here -->
        <div class="container-fluid">
            <h5 class="text-center">
                Basics
            </h5>
        </div>
        <ul>
            <li><a href="{% url 'programming_py_type_var_comm' %}" class="Link d-block link-dark text-decoration-none bg-warning border-0">Data types, Varaibles, and Comments</a></li>
            <li><a href="{% url 'programming_py_list_tuple' %}" class="Link d-block link-dark text-decoration-none bg-warning border-0">List and Tuple</a></li>
            <li><a href="#" class="Link d-block link-dark text-decoration-none bg-warning border-0">Dictionary</a></li>
            <li><a href="#" class="Link d-block link-dark text-decoration-none bg-warning border-0">Statements and Expressions</a></li>
            <li><a href="#" class="Link d-block link-dark text-decoration-none bg-warning border-0">Functions</a></li>
            <li><a href="#" class="Link d-block link-dark text-decoration-none bg-warning border-0">Modules</a></li>
            <li><a href="#" class="Link d-block link-dark text-decoration-none bg-warning border-0">Scopes and Namespaces</a></li>
        </ul>

        
    </div>

</div>
{% endblock selected %}
