* {
    margin: 0;
    padding: 0;
    border: 2px;
}

#row {
    display: flex;

}

#row > #left, #right {
    width: 20%;
}
#row > #content {
    width: 60%;
    display: flex;
    flex-direction: column;
    
}