<div id="Col2" class="col-lg-6 col-md-8">
    <div class="container text-center text-bg-warning rounded mt-2">
        <ul class="bg-warning py-2">
            <li class="list-unstyled d-inline">
                <a href="{% url 'programming' %}" class="Link text-decoration-none text-dark">
                    programming</a>
            </li>
            <li class="list-unstyled text-dark d-inline">/</li>
            <li class="list-unstyled d-inline">
                <a href="{% url 'programming_rust' %}" class="Link text-decoration-none text-dark">
                    rust</a>
            </li>
            <li class="list-unstyled text-dark d-inline">/</li>
            <li class="list-unstyled d-inline">
                <a href="{% url 'programming_rust_enum_matchiflet' %}" class="Link text-decoration-none text-dark">
                    Match and If let</a>
            </li>
        </ul>
    </div>
</div>