{% comment %} position bar {% endcomment %}
<div class="container text-center text-bg-warning rounded mt-2">
    <ul class="bg-warning py-2">
        <li class="list-unstyled d-inline">
            <a href="{% url 'programming' %}" class="Link text-decoration-none text-dark">
                programming
            </a>
        </li>
        <li class="list-unstyled text-dark d-inline">/</li>
        <li class="list-unstyled d-inline">
            <a href="{% url 'programming_py' %}" class="Link text-decoration-none text-dark">
                python
            </a>
        </li>
        <li class="list-unstyled text-dark d-inline">/</li>
        <li class="list-unstyled d-inline">
            <a href="{% url 'programming_py_concurrent_execution_multiprocessing' %}" class="Link text-decoration-none text-dark">
                multiprocessing
            </a>
        </li>
    </ul>
</div>