{% extends 'pms/base.html' %}
{% load crispy_forms_tags %}


{% block title %}Edit heading{% endblock title %}
{% comment %} {% block top %}
{% endblock top %} {% endcomment %}
{% block center %}

    <div class="section-box">
        <div class="section-heading">
            <h1>Task Edit</h1>
        </div>
        <hr>
        <div class="section">
            <form action="" method="POST">
                {{ form | crispy }}
            </form>
        </div>
    </div>

    {% comment %} <div class="section">
        <h2>Task</h2>
    </div>

    {% for task in tasks %}
        <div class="section">
            <h3>{{ task.name }}</h3>
            <a href="{{ task.get_absolute_url }}" type="button">Edit</a>
        </div>
    {% endfor %} {% endcomment %}
{% endblock center %}