@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Ubuntu&display=swap');

:root {
    --bcolor: rgb(36, 122, 250);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: var(--bcolor);
    width: 100%;
    padding: 15px;
}

#navbar a {
    color: var(--bcolor);
    text-decoration: none;
    border: 2px solid black;
}
#navbar a:not(:first-child) {
    margin-top: 8px;
}
#navbar a:hover:not(:first-child) {
    border-bottom: 2px solid var(--bcolor);
    border-radius: 6px;
}
#site {
    display: inline;
}

#todo {
    /* background-color: black; */
    padding: 10px;
    width: 50%;
}
#todo-list {
    padding: 10px;
}

.todo-item {
    margin: 10px;
    list-style: none;
    outline: 1px solid grey;
    border-radius: 15px;
    padding: 15px;
}
.todo-item h3 {
    color: var(--bcolor);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(20, 34, 55);
    padding: 10px;
}
.todo-item p {
    padding: 10px;
    background-color: antiquewhite;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    color: var(--bcolor);
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
}

form {
    margin: 150px;
    padding: 25px;
    background-color: antiquewhite;
    border: 2px solid grey;
    border-radius: 15px;
}

form * {
    margin: 6px;
    padding: 6px;
    display: flex;
    align-items: center;
}

form label {
    margin: 0;
}

from input {
    border: none;
    border-bottom: 3px;
}