{% extends '_base.html' %}
{% block title %}
  Todo
{% endblock %}

{% block app %}
  <div class="container">
    <div class="d-flex justify-content-start mx-1 my-2">
      <!-- BREADCRUMB -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light p-3 px-3">
          <li class="breadcrumb-item active px-3" aria-current="page">
            <a href="{% url 'app:index' %}">Backend</a>
          </li>
          <li class="breadcrumb-item active px-3" aria-current="page">
            <a href="{% url 'app:app' %}">Apps</a>
          </li>
          <li class="breadcrumb-item active px-3" aria-current="page">
            <a href="{% url 'todo:index' %}">Todo</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container my-4">
    <div class="input-group input-group-lg mb-3">
      <input type="text" class="form-control" placeholder="Enter your event..." aria-label="Recipient's username" aria-describedby="button-addon2" />
      <button class="btn btn-success" type="button" id="button-addon2">Button</button>
    </div>
  </div>
{% endblock %}
