<div class="container m-2  rounded rounded-3">
    <div class="d-flex justify-content-center">
        <div id="calculator" class=" border border-1 rounded-3 border-dark p-3 bg-dark" >
            <table class="bg-light border border-dark border-1 rounded-3">
                <tr>
                    <td class="bg-light border border-dark border-1 rounded-3" id="display" colspan="4">
                        <h3 id="displayVal" class="text-end my-3">0</h3>
                        <h3 id="displayArray" class="text-end my-3">0</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="b1" class="key btn btn-primary btn-lg w-100">1</button>
                    </td>
                    <td>
                        <button id="b2" class="key btn btn-primary btn-lg w-100">2</button>
                    </td>
                    <td>
                        <button id="b3" class="key btn btn-primary btn-lg w-100">3</button>
                    </td>
                    <td>
                        <button id="b+" class="key btn btn-primary btn-lg w-100">+</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="b4" class="key btn btn-primary btn-lg w-100">4</button>
                    </td>
                    <td>
                        <button id="b5" class="key btn btn-primary btn-lg w-100">5</button>
                    </td>
                    <td>
                        <button  id="b6" class="key btn btn-primary btn-lg w-100">6</button>
                    </td>
                    <td>
                        <button id="b-" class="key btn btn-primary btn-lg w-100">-</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="b7" class="key btn btn-primary btn-lg w-100">7</button>
                    </td>
                    <td>
                        <button id="b8" class="key btn btn-primary btn-lg w-100">8</button>
                    </td>
                    <td>
                        <button  id="b9"class="key btn btn-primary btn-lg w-100">9</button>
                    </td>
                    <td>
                        <button id="b*" class="key btn btn-primary btn-lg w-100">*</button>
                    </td>
                </tr>
                <tr>
                    <td class=" ">
                        <button id="b=" class="key btn btn-primary btn-lg w-100">=</button>
                    </td>
                    <td class=" ">
                        <button id="b0" class="key btn btn-primary btn-lg w-100">0</button>
                    </td>
                    <td class=" ">
                        <button id="b/" class="key btn btn-primary btn-lg w-100">/</button>
                    </td>
                    <td class=" ">
                        <button id="bc" class="key btn btn-primary btn-lg w-100">C</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>