{% load static %}
<div id="Col2" class="col-lg-6 col-md-8">


    <div class="container mt-4">
        {% include "programming/python/concurrent_execution/multiprocessing/content/breadcrumb.html" %}
        {% include "programming/python/concurrent_execution/multiprocessing/content/overview.html" %}
        {% include "programming/python/concurrent_execution/multiprocessing/content/pool_object.html" %}
        {% include "programming/python/concurrent_execution/multiprocessing/content/process_class.html" %}


    </div>
</div>