{% extends 'base.html' %}
{% block title %}{{ blog.title }}{% endblock title  %}
{% block mid %}
    <div id="blogs_container">
        <div class="card blog_container bg-dark text-warning">
            <div class="card-body">
                <a class="text-decoration-none text-warning" href="{{ blog.get_absolute_url }}">
                    <h3 class="card-title">{{ blog.title }}</h3>
                </a>
                <p class="card-text text-light">
                    {{ blog.content }}
                </p>
            </div>
        </div>
    </div>
{% endblock mid %}