#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#display {
    padding: 20px 0px;
    text-align: center;
    background-color: aliceblue;
    font-size: 30px;
    width: 100%;
    margin-bottom: 20px;
}
#buttons {
    display: flex;
    justify-content: space-between;
}
.button {
    padding: 10px 20px;
    cursor: pointer;
}
#decrease {
    background-color: tomato;
    color: white;
}
#increase {
    background-color: green;
    color: white;
}