{% load static %}
<!-- Col2 -->
<!-- CONTENT -->
<div id="Col2" class="col-lg-6 col-md-8">
    <div class="container text-center text-bg-warning rounded mb-3   mt-2">
        <p class="fs-3 fw-bold py-2"><a class="text-decoration-none link-dark" href="{% url 'programming' %}">Programming</a>
        </p>
    </div>

    <div class="container my-5" id="MapOfProgramming">
        <img class="h-100 w-100" src="{% static 'images/ProgrammingMap2.png' %}" alt="image not found">
    </div>



    <div class="container my-5" id="Programing">
        <h3 id="">Programming</h3>
        <p class="m-3 text-secondary fs-6">
            Programming is the process of creating a set of instructions that tells a computer how to perform a task.
        </p>
    </div>

    <div class="container my-5" id="Coding">
        <h3 id="">Coding</h3>
        <p class="m-3 text-secondary fs-6">
            Coding is an act of translation. It writes the user's instructions in the form of a computer program. It
            converts the computer program into low-level language codes and feeds it to the computer for execution.
        </p>
    </div>


    <div class="container my-5">
        <h2 id="Topic2">Topic 2</h2>
        <p class="m-3 text-secondary fs-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati facilis sapiente culpa ratione
            repellendus quo voluptatem, illum iure aliquam eveniet magnam reiciendis distinctio minus aspernatur maxime
            pariatur sit! Ipsa, nostrum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate sint quis, natus qui ipsum delectus,
            odio tempore ducimus illum quae saepe mollitia dolores beatae quo magnam repellat dolorum corrupti!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero earum adipisci quo saepe explicabo id
            asperiores quam molestiae exercitationem! Repellendus temporibus minus debitis? Deleniti omnis quibusdam
            blanditiis sit, nesciunt nulla!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat error voluptates tempore odit aperiam vel
            delectus animi magni beatae numquam voluptatem consequuntur inventore nemo placeat sit excepturi ipsum,
            neque atque.
        </p>
    </div>

    <div class="container my-5">
        <h2 id="Topic2">Topic 2</h2>
        <p class="m-3 text-secondary fs-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati facilis sapiente culpa ratione
            repellendus quo voluptatem, illum iure aliquam eveniet magnam reiciendis distinctio minus aspernatur maxime
            pariatur sit! Ipsa, nostrum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate sint quis, natus qui ipsum delectus,
            odio tempore ducimus illum quae saepe mollitia dolores beatae quo magnam repellat dolorum corrupti!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero earum adipisci quo saepe explicabo id
            asperiores quam molestiae exercitationem! Repellendus temporibus minus debitis? Deleniti omnis quibusdam
            blanditiis sit, nesciunt nulla!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat error voluptates tempore odit aperiam vel
            delectus animi magni beatae numquam voluptatem consequuntur inventore nemo placeat sit excepturi ipsum,
            neque atque.
        </p>
    </div>

    <div class="container my-5">
        <h2 id="Topic2">Topic 2</h2>
        <p class="m-3 text-secondary fs-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati facilis sapiente culpa ratione
            repellendus quo voluptatem, illum iure aliquam eveniet magnam reiciendis distinctio minus aspernatur maxime
            pariatur sit! Ipsa, nostrum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate sint quis, natus qui ipsum delectus,
            odio tempore ducimus illum quae saepe mollitia dolores beatae quo magnam repellat dolorum corrupti!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero earum adipisci quo saepe explicabo id
            asperiores quam molestiae exercitationem! Repellendus temporibus minus debitis? Deleniti omnis quibusdam
            blanditiis sit, nesciunt nulla!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat error voluptates tempore odit aperiam vel
            delectus animi magni beatae numquam voluptatem consequuntur inventore nemo placeat sit excepturi ipsum,
            neque atque.
        </p>
    </div>


    <!-- <h3>
                    <a href="#SignIn">To continue farther signin...</a>
                </h3> -->

</div>