<!-- Social -->
<div class="pt-5 ">
    <div id="Social" class="container-fluid d-flex justify-content-center bg-warning">
        <h2 class="mx-1 p-3"><a class="Link text-decoration-none text-dark" href="#"><i class="fs-4 bi bi-youtube"></i></a></h2>
        <h2 class="mx-1 p-3"><a class="Link text-decoration-none text-dark" href="#"><i class="fs-4 bi bi-instagram"></i></a></h2>
        <h2 class="mx-1 p-3"><a class="Link text-decoration-none text-dark" href="#"><i class="fs-4 bi bi-facebook"></i></a></h2>
        <h2 class="mx-1 p-3"><a class="Link text-decoration-none text-dark" href="#"><i class="fs-4 bi bi-twitter"></i></a></h2>
        <h2 class="mx-1 p-3"><a class="Link text-decoration-none text-dark" href="#"><i class="fs-4 bi bi-reddit"></i></a></h2>
        <h2 class="mx-1 p-3"><a class="Link text-decoration-none text-dark" href="#"><i class="fs-4 bi bi-telegram"></i></a></h2>
    </div>
</div>




<!-- Footer -->
<div class="container-fluid text-warning py-5 rounded-3 rounded-top" id="Footer">
    <div class="d-lg-flex d-md-flex d-sm-grid justify-content-center">
        <div class="">
            <div class="p-5 text-center">
                <p class="fw-bolder">Programming</p>
                <p class="m-0 p-0">
                    <a class="Link text-decoration-none text-primary" href="{% url 'programming_py' %}">
                        <small>Python</small>
                    </a>
                </p>
                <p class="m-0 p-0">
                    <a class="Link text-decoration-none text-primary" href="{% url 'programming_js' %}">
                        <small>Javascript</small>
                    </a>
                </p>
                <p class="m-0 p-0">
                    <a class="Link text-decoration-none text-primary" href="{% url 'programming_c' %}">
                        <small>C</small>
                    </a>
                </p>
                <p class="m-0 p-0">
                    <a class="Link text-decoration-none text-primary" href="{% url 'programming_rust' %}">
                        <small>Rust</small>
                    </a>
                </p>
                <p class="m-0 p-0">
                    <a class="Link text-decoration-none text-primary" href="#">
                        <small>About us</small>
                    </a>
                </p>
            </div>                
        </div>
        
        <div class="">
            <div class="p-5 text-center">
                <p class="fw-bolder">Top</p>
                <p class="m-0 p-0">
                    <a class="Link text-decoration-none text-primary" href="#">
                        <small>Django</small>
                    </a>
                </p>
                <p class="m-0 p-0">
                    <a class="Link text-decoration-none text-primary" href="#">
                        <small>React</small>
                    </a>
                </p>
                <p class="m-0 p-0">
                    <a class="Link text-decoration-none text-primary" href="#">
                        <small>NextJS</small>
                    </a>
                </p>
            </div>                
        </div>

        <div class="">
            <div class="p-5 text-center">
                <p class="fw-bolder">Bundle</p>
                <p class="m-0 p-0">
                    <a class="Link text-decoration-none text-primary" href="#">
                        <small>Fullstack Python</small>
                    </a>
                </p>
                <p class="m-0 p-0">
                    <a class="Link text-decoration-none text-primary" href="#">
                        <small>Data Science</small>
                    </a>
                </p>
                <p class="m-0 p-0">
                    <a class="Link text-decoration-none text-primary" href="#">
                        <small>Machine Learning</small>
                    </a>
                </p>
                <p class="m-0 p-0">
                    <a class="Link text-decoration-none text-primary" href="#">
                        <small>Deep Learning</small>
                    </a>
                </p>
                <p class="m-0 p-0">
                    <a class="Link text-decoration-none text-primary" href="#">
                        <small>Neural Networks</small>
                    </a>
                </p>
                <p class="m-0 p-0">
                    <a class="Link text-decoration-none text-primary" href="#">
                        <small>Artificial Intelligence</small>
                    </a>
                </p>
            </div>                
        </div>

        <!-- footer row end -->
    </div>
    <!-- Footer end -->
</div>