<!-- Social -->
<div class="pt-5 ">
    <div id="Social" class="container-fluid d-flex justify-content-center mt-5 py-3 bg-warning">
        <h2 class="mx-1 p-3"><a class="Link text-decoration-none text-dark" href="#"><i class="fs-4 bi bi-youtube"></i></a></h2>
        <h2 class="mx-1 p-3"><a class="Link text-decoration-none text-dark" href="#"><i class="fs-4 bi bi-instagram"></i></a></h2>
        <h2 class="mx-1 p-3"><a class="Link text-decoration-none text-dark" href="#"><i class="fs-4 bi bi-facebook"></i></a></h2>
        <h2 class="mx-1 p-3"><a class="Link text-decoration-none text-dark" href="#"><i class="fs-4 bi bi-twitter"></i></a></h2>
        <h2 class="mx-1 p-3"><a class="Link text-decoration-none text-dark" href="#"><i class="fs-4 bi bi-reddit"></i></a></h2>
        <h2 class="mx-1 p-3"><a class="Link text-decoration-none text-dark" href="#"><i class="fs-4 bi bi-telegram"></i></a></h2>
    </div>
</div>


<!-- Footer -->
<div class="container-fluid text-warning py-5 mt-5 rounded-3 rounded-top" id="Footer">
    <div class="row ">
        <div class="col-lg-4 col-md-4 p-5">
            <div class="p-5 text-center">
            <p class="fw-bolder">Programming</p>
            <p class="fw-bold"><a class="Link text-decoration-none text-primary" href="#">Python</a></p>
            <p class="fw-bold"><a class="Link text-decoration-none text-primary" href="#">Javascript</a></p>
            <p class="fw-bold"><a class="Link text-decoration-none text-primary" href="#">C</a></p>
            <p class="fw-bold"><a class="Link text-decoration-none text-primary" href="#">Rust</a></p>
            <p class="fw-bold"><a class="Link text-decoration-none text-primary" href="#">About us</a></p>
            </div>                
        </div>
        
        <div class="col-lg-4 col-md-4 p-5">
            <div class="p-5 text-center">
            <p class="fw-bolder">Top</p>
            <p class="fw-bold"><a class="Link text-decoration-none text-primary" href="#">Django</a></p>
            <p class="fw-bold"><a class="Link text-decoration-none text-primary" href="#">React</a></p>
            <p class="fw-bold"><a class="Link text-decoration-none text-primary" href="#">NextJS</a></p>
            </div>                
        </div>

        <div class="col-lg-4 col-md-4 p-5">
            <div class="p-5 text-center">
            <p class="fw-bolder">Bundle</p>
            <p class="fw-bold"><a class="Link text-decoration-none text-primary" href="#">Full Stack Python</a></p>
            <p class="fw-bold"><a class="Link text-decoration-none text-primary" href="#">Data Science</a></p>
            <p class="fw-bold"><a class="Link text-decoration-none text-primary" href="#">Machine Learning</a></p>
            <p class="fw-bold"><a class="Link text-decoration-none text-primary" href="#">Deep Learning</a></p>
            <p class="fw-bold"><a class="Link text-decoration-none text-primary" href="#">Neural Networks</a></p>
            <p class="fw-bold"><a class="Link text-decoration-none text-primary" href="#">Artificial Intelligence</a></p>
            </div>                
        </div>

        <!-- footer row end -->
    </div>
</div>