<div class="container DivHL p-5 mt-3 rounded-4">
    <div class="text-center container-fluid my-5  DivHL">
        <h2 class=" DivHL">{{blog_detail.title}}</h2>
    </div>
    <p class=" DivHL">
        {{ blog_detail.body }}
    </p>
    <small class=" DivHL">
        By: {{ blog_detail.author}} | Date: {{ blog_detail.date }}
    </small>
    
    <div class="DivHL my-3">
        <a href="{% url 'blog_update' blog_detail.id %}" class="d-inline btn btn-warning">Update</a>
        <a href="{% url 'blog_delete' blog_detail.id  %}" class="d-inline btn btn-danger">Delete</a>
    </div>
</div>