{% load static %}
<div id="Col2" class="col-lg-6 col-md-8">

    {% comment %} position bar {% endcomment %}
    <div class="container text-center text-bg-warning rounded mt-2">
        <ul class="bg-warning py-2">
            <li class="list-unstyled d-inline">
                <a href="{% url 'programming' %}" class="Link text-decoration-none text-dark">
                    programming
                </a>
            </li>
            <li class="list-unstyled text-dark d-inline">/</li>
            <li class="list-unstyled d-inline">
                <a href="{% url 'programming_py' %}" class="Link text-decoration-none text-dark">
                    python
                </a>
            </li>
            <li class="list-unstyled text-dark d-inline">/</li>
            <li class="list-unstyled d-inline">
                <a href="{% url 'programming_py_list_tuple' %}" class="Link text-decoration-none text-dark">
                    list and tuple
                </a>
            </li>
        </ul>
    </div>

    
    <div class="container mt-4">
        <div class="container my-3">
            <h3>Python Overview</h3>
            <p class="m-3 text-secondary">
                List and Tuple are the sequence data types. Array in Python called <i>list</i>. Both in types can be accessed. 
                <br>
                <br>
                <i>list</i> are mutable type in python, which mean the it can grow or shrink according to the need, whereas <i>tuple</i> and immutable type, once defined cannot be manipulated.
                <br>
                <br>
            </p>
        </div>


        <div id="PythonBasicsList" class="container my-3">
            <h3>list type</h3>
            <p class="m-3 text-secondary">
                As we know these are mutable type and can manipulated.
                <br>
                <br>
                Let's define a list and store data in it.
            </p>

            <pre>
                <code class="language-python">
        >>> a = [1, 2, 3, 4]
                </code>
            </pre>

            <p class="m-3 text-secondary">
                Here we defined list a with data in it.
            </p>

            <pre>
                <code class="language-python">
        >>> a = "Paradox";
        >>> a
        'Paradox'
                </code>
            </pre>

            <p class="m-3 text-secondary">
                As you can see, we stored integer and string in same variable, and no variable declaration is required.
            </p>

            <p class="m-3 text-secondary">
                Storing float type
            </p>
            <pre>
                <code class="language-python">
        >>> a = 10.0;
        >>> a
        10.0
                </code>
            </pre>

            <p class="m-3 text-secondary">
                If you want to store <i>boolean</i> type, then
            </p>

            <pre>
                <code class="language-python">
        >>> a = True;
        >>> a
        true
                </code>
            </pre>
            
        </div>

        <div id="PythonBasicsTypeConversion" class="container  my-3">
            <h3>Types conversion</h3>
            <p class="m-3 text-secondary">
                So for example you defined a variable, and now you want to convert it's type to another. Let's say from <i>integer</i> to <i>string</i>
            </p>
            <pre>
                <code class="language-python">
        >>> a = 100
        >>> a
        100
        >>> a = str(a)
        >>> a
        '100'
        >>>                     
                </code>
            </pre>
            
            <p class="m-3 text-secondary">
                As you can see we first assign 100 to a, then we use <i>str() class</i> to convert to convert the 100 to string type, we get output '100'. Similary using <i>float()</i>, <i>int()</i> classes, we can convert data types.
            </p>
<!-- 
            <pre>
                <code class="language-python"></code>
            </pre> -->
        </div>


        <div id="PythonBasicsComments" class="container  my-3">
            <h3>Comments</h3>
            <p class="m-3 text-secondary">
                Comments are important part of programming, it's help you as well as other understand the flow of code or what a particular statement is intended to do.
            </p>
            <pre>
                <code class="language-python">
        a = 100

        # The value of a is 100
        print(a)                     
                </code>
            </pre>
            
            <p class="m-3 text-secondary">
                You can notice we use the <i>#</i> to start the comment. This is how we write comment Python.
                <br>
                <br>
                Now if you want to write multi-line comment, one way to start each line with <i>#</i>.
            </p>
            <pre>
                <code class="language-python">
        a = 100

        # The value of a is 100,
        # then we are going to print the value.
        print(a)                     
                </code>
            </pre>

            <p class="m-3 text-secondary">
                Another way to write is using <i>triple comma """ """</i>. You have to put tiple comma at the start of comment line and at the end.
            </p>
            <pre>
                <code class="language-python">
        a = 100

        """ The value of a is 100,
        then we are going to print the value.
        """
        print(a)                     
                </code>
            </pre>
        </div>
        <!-- code before here -->
    </div>
</div>