{% extends 'programming/include/col1.html' %}

{% block selected %}
    <!-- Select topic content -->
<div id="Col1Col3" class="container-fluid sticky-top pt-3">
    <!-- Collapse Topic -->
    <div class="container-fluid text-bg-warning rounded-3 py-3 my-3">

        <!-- content goes here -->
        <div class="container-fluid">
            <h5 class="text-center">
                Python Concurrency
            </h5>
        </div>
        <ul>
            <li><a href="{% url 'programming_py_concurrent_execution' %}" class="Link d-block link-dark text-decoration-none bg-warning border-0">Concurrency vs Parallelism</a></li>
            <li><a href="{% url 'programming_py_concurrent_execution_threading' %}" class="Link d-block link-dark text-decoration-none bg-warning border-0">threading</a></li>
            <li><a href="#" class="Link d-block link-dark text-decoration-none bg-warning border-0">multiprocessing</a></li>
            <li><a href="#" class="Link d-block link-dark text-decoration-none bg-warning border-0">concurrent</a></li>
            <li><a href="#" class="Link d-block link-dark text-decoration-none bg-warning border-0">subprocess</a></li>
            <li><a href="#" class="Link d-block link-dark text-decoration-none bg-warning border-0">scheld</a></li>
            <li><a href="#" class="Link d-block link-dark text-decoration-none bg-warning border-0">queue</a></li>
            <li><a href="#" class="Link d-block link-dark text-decoration-none bg-warning border-0">contextvars</a></li>
            <li><a href="#" class="Link d-block link-dark text-decoration-none bg-warning border-0">_thread</a></li>
        </ul>

        
    </div>

</div>
{% endblock selected %}
