{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        <h1>
            {{ message }}
        </h1>
    </li>
    {% endfor %}
</ul>
{% endif %}

<div></div>

<div>
    <form method="POST" action="{% url 'app:create_question' %}">
        {% csrf_token %}
        <fieldset>
          <legend>Your Question</legend>
      
          <label for="question">Question</label><br />
          <input type="text" id="" name="question" value="" placeholder="Question please..." />
          
        </fieldset>

        <fieldset>
            <legend>Your Choices</legend>
        
            <label for="choice1">Choice 1</label><br />
            <input type="text" id="" name="choice1" value="" placeholder="Choice 1" />

            <label for="choice2">Choice 2</label><br />
            <input type="text" id="" name="choice2" value="" placeholder="Choice 2" />

            <label for="choice3">Choice 3</label><br />
            <input type="text" id="" name="choice3" value="" placeholder="Choice 3" />

            <label for="choice4">Choice 4</label><br />
            <input type="text" id="" name="choice4" value="" placeholder="Choice 4" />

          </fieldset>
          
        <input type="submit" value="Create">
    </form>
      
</div>


<div>
    <hr>
    <a href="{% url 'app:index' %}">Home</a>
    
</div>