{% extends 'letter/base.html' %}
{% block title %}Letters{% endblock title %}
{% block content %}
    {% for letter in page_obj %}
        <div class="container text-center bg-light text-primary my-3 py-4">
            <h1 class="mb-0 pb-0">
                <a href="{{ letter.get_absolute_url }}">{{ letter.title|upper }}</a>
            </h1><br>
            <small>{{ letter.created }}</small>
            <h6>{{ letter.content|truncatewords:10 }}</h6>
        </div>
    {% endfor %}

    <div class="pagination bg-light text-dark fs-3 p-3 d-flex justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}