{% extends 'base.html' %}
{% load static %}
{% block title %}human detail{% endblock title %}
{% block content %}
    <link rel="stylesheet" href="{% static 'home/detail.css' %}">
    <div class="human-detail">
        <label for="username">Username</label>
        <h3 id="username">{{ human.username }}</h3>
        <br>

        <label for="firstname">First name</label>
        <p id="firstname ">{{ human.first_name }}</p>
        <br>

        <label for="middlename">Middle names</label>
        <p id='middlename'>{{ human.middle_name }}</p>
        <br>

        <label for="lastname">Last names</label>
        <p id='lastname'>{{ human.last_name }}</p>
        <br>

        <label for="age">Age</label>
        <p id='age'>{{ human.age }}</p>
        <br>

        <label for="lastname">Last names</label>
        <p id='lastname'>{{ human.last_name }}</p>
        <br>
    </div>
{% endblock content %}