{% extends '_base.html' %}
{% block title %}
  Apps
{% endblock %}

{% block app %}
  <div class="container">
    <div class="d-flex justify-content-start m-1">
      <nav aria-label="breadcrumb">

        <!-- BREADCRUMB -->
        <ol class="breadcrumb bg-light p-1 px-3">
          <li class="breadcrumb-item active" aria-current="page">
            <a href="{% url 'app:index' %}">Backend</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href="{% url 'app:app' %}">Apps</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container">
    <h1>All Apps</h1>
  </div>
  <div class="container">
    <div class="card my-3">
      <div class="card-header">Featured</div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card w-100 mb-3 my-3">
        <div class="card-body">
          <h5 class="card-title">Todo</h5>
          <p class="card-text">Personal bot for manage. It Keeps you updated with your life events.</p>
          <a href="{% url "todo:index" %}" class="btn btn-primary">Take a tour</a>
        </div>
      </div>
  </div>
{% endblock %}
