{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'counter/css/base.css' %}">
{% endblock css %}

{% block title %}Counter{% endblock title %}

{% block center %}
    <div id="box">
        <div id="display">{{ default }}</div>
        <div id="buttons">
            <button class="button" id="decrease">Decrease</button>
            <button class="button" id="increase">Increase</button>
        </div>
    </div>
{% endblock center %}


{% block js %}
    <script src="{% static 'counter/js/base.js' %}"></script>
{% endblock js %}