:root {

}


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#accordion-container {
    background-color: antiquewhite;
    padding: 10px;
}
#accordion {
    background-color: aquamarine;
    padding: 10px;
}
#block1 {
    background-color: chocolate;
    width: 200px;
}

#button1 {
    text-align: center;
    width: 100%;
    background-color: inherit;
    padding: 15px;
    cursor: pointer;
    /* margin: 3px; */
}
#button1:hover {
    border: 2px solid brown;
}
#hide1 {
    background-color: aqua;
    height: 0;
    overflow-y: hidden;
    transition: all 1s;
}
/*  */
#button2 {
    text-align: center;
    width: 100%;
    background-color: inherit;
    padding: 15px;
    cursor: pointer;
    /* margin: 3px; */
}
#button2:hover {
    border: 2px solid brown;
}
#hide2 {
    height: 0;
    overflow-y: hidden;
    transition: all 1s;
}