.human-list {
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 12px 12px;
}
.human-list h3 {
    padding: 5px 15px
}

.human-list h3 a {
    color: inherit;
    text-decoration: none;
}
.human-list h3:hover {
    padding: 5px 15px;
    background-color: var(--color8);
    color: var(--color3);
}
