{% load static %}
<div id="Col2" class="col-lg-6 col-md-8">

    {% comment %} position bar {% endcomment %}
    <div class="container text-center text-bg-warning rounded mt-2">
        <ul class="bg-warning py-2">
            <li class="list-unstyled d-inline">
                <a href="{% url 'programming' %}" class="Link text-decoration-none text-dark">
                    programming
                </a>
            </li>
            <li class="list-unstyled text-dark d-inline">/</li>
            <li class="list-unstyled d-inline">
                <a href="{% url 'programming_py' %}" class="Link text-decoration-none text-dark">
                    python
                </a>
            </li>
            <li class="list-unstyled text-dark d-inline">/</li>
            <li class="list-unstyled d-inline">
                <a href="{% url 'programming_py_type_var_comm' %}" class="Link text-decoration-none text-dark">
                    basics
                </a>
            </li>
        </ul>
    </div>

    
    <div class="container mt-4">
        <div class="container my-3">
            <h3>Python Overview</h3>
            <p class="m-3 text-secondary">
                Python is dynamic typed language, which means unlike c, c++, java etc, which require variable declaration with type before assignment, in python we can assign any data type to any variable and we don't even have to declare varaible before using it.
                
                <br>
                <br>

                For further understanding you can check python documentation.
            </p>
        </div>


        <div id="PythonBasicsDataTypesAndVaraibles" class="container my-3">
            <h3>Data types</h3>
            <p class="m-3 text-secondary">
                Baisc data types in programming language remains same, such as <i>integer</i>, <i>string</i>, <i>float</i>, <i>boolean</i>. These are the basics data types in Python. There are also advance types such at <i>complex</i>, <i>bytes</i>, <i>set</i> etc. You can check the built-in section to those.

                <br>
                <br>
                Defining a variable storing integer data type.
            </p>

            <pre>
                <code class="language-python">
        >>> a = 1;
        >>> a
        1
                </code>
            </pre>

            <p class="m-3 text-secondary">
                Storing string type
            </p>

            <pre>
                <code class="language-python">
        >>> a = "Paradox";
        >>> a
        'Paradox'
                </code>
            </pre>

            <p class="m-3 text-secondary">
                As you can see, we stored integer and string in same variable, and no variable declaration is required.
            </p>

            <p class="m-3 text-secondary">
                Storing float type
            </p>
            <pre>
                <code class="language-python">
        >>> a = 10.0;
        >>> a
        10.0
                </code>
            </pre>

            <p class="m-3 text-secondary">
                If you want to store <i>boolean</i> type, then
            </p>

            <pre>
                <code class="language-python">
        >>> a = True;
        >>> a
        true
                </code>
            </pre>
            
        </div>

        <div id="PythonBasicsTypeConversion" class="container  my-3">
            <h3>Types conversion</h3>
            <p class="m-3 text-secondary">
                So for example you defined a variable, and now you want to convert it's type to another. Let's say from <i>integer</i> to <i>string</i>
            </p>
            <pre>
                <code class="language-python">
        >>> a = 100
        >>> a
        100
        >>> a = str(a)
        >>> a
        '100'
        >>>                     
                </code>
            </pre>
            
            <p class="m-3 text-secondary">
                As you can see we first assign 100 to a, then we use <i>str() class</i> to convert to convert the 100 to string type, we get output '100'. Similary using <i>float()</i>, <i>int()</i> classes, we can convert data types.
            </p>
<!-- 
            <pre>
                <code class="language-python"></code>
            </pre> -->
        </div>


        <div id="PythonBasicsComments" class="container  my-3">
            <h3>Comments</h3>
            <p class="m-3 text-secondary">
                Comments are important part of programming, it's help you as well as other understand the flow of code or what a particular statement is intended to do.
            </p>
            <pre>
                <code class="language-python">
        a = 100

        # The value of a is 100
        print(a)                     
                </code>
            </pre>
            
            <p class="m-3 text-secondary">
                You can notice we use the <i>#</i> to start the comment. This is how we write comment Python.
                <br>
                <br>
                Now if you want to write multi-line comment, one way to start each line with <i>#</i>.
            </p>
            <pre>
                <code class="language-python">
        a = 100

        # The value of a is 100,
        # then we are going to print the value.
        print(a)                     
                </code>
            </pre>

            <p class="m-3 text-secondary">
                Another way to write is using <i>triple comma """ """</i>. You have to put tiple comma at the start of comment line and at the end.
            </p>
            <pre>
                <code class="language-python">
        a = 100

        """ The value of a is 100,
        then we are going to print the value.
        """
        print(a)                     
                </code>
            </pre>
        </div>
        <!-- code before here -->
    </div>
</div>