{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'pms/css/index.css' %}">
</head>
<body>
    {% include "pms/include/navbar.html" %}

    <div id="top">
        {% block top %}{% endblock top %}
    </div>

    <div id="row">
        <div id="left">
            {% block left %}{% endblock left %}
        </div>
        <div id="center">
            {% block center %}{% endblock center %}
        </div>
        <div id="right">
            {% block right %}{% endblock right %}
        </div>
    </div>

    {% block buttom %}{% endblock buttom %}

    <script src="{% static 'pms/js/index.js' %}"></script>
</body>
</html>