{% extends 'pms/base.html' %}

{% block title %}Edit heading{% endblock title %}
{% block top %}
    <h1>Task Edit</h1>
{% endblock top %}
{% block center %}
    <div class="section">
        <form action="" method="POST">
            {{ form.as_p }}
        </form>
    </div>

    {% comment %} <div class="section">
        <h2>Task</h2>
    </div>

    {% for task in tasks %}
        <div class="section">
            <h3>{{ task.name }}</h3>
            <a href="{{ task.get_absolute_url }}" type="button">Edit</a>
        </div>
    {% endfor %} {% endcomment %}
{% endblock center %}