{% extends 'pms/base.html' %}

{% block title %}Edit heading{% endblock title %}
{% comment %} {% block top %}
    
{% endblock top %} {% endcomment %}
{% block center %}
<h1>Heading Edit</h1>
    <div class="section">
        <form action="" method="POST">
            {{ form.as_p }}
        </form>
    </div>

    <div class="section">
        <h2>Task</h2>
    </div>

    {% for task in tasks %}
        <div class="section">
            <h3>{{ task.name }}</h3>
            <a href="{{ task.get_absolute_url }}" type="button">Edit</a>
        </div>
    {% endfor %}
{% endblock center %}